@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255,255,255;
    --background-rgb: 39,39,39;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.sidebar {
  width: 350px;
  border-right: 2.5px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

textarea:focus, input:focus{
  outline: none;
}


th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  background: rgb(var(--background-rgb));
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
